{% extends "base.html" %}

{% block content %}
    <div class="container mx-auto text-white">
        <h1 class="mt-3 text-center ">Welcome to PandaMeet Account Info</h1>
        <h4 class="mt-2 text-center ">Here you can add or review details about your account, such as username, birth date, country, email and ecc.</h4>

        <div class="row">
            <div class="col-md-6 col-lg-6 col-sm-12 mx-auto">
                <div class="card-body bg-dark mt-5">
                    <div class="card-title h5">Change Username</div>
                    <p class="mt-2 h6"><strong>Your username: @{{ current_user.USERNAME }}</strong></p>
                    <div class="col-12">
                        <form method="POST">
                            {{ userChangeForm.csrf_token }}
                            {{ userChangeForm.newUsername(class="form-control mt-3", id="newUsername", required="required", type="text", placeholder="Insert new username") }}
                            {{ userChangeForm.submit(class="btn btn-primary mt-3", type="submit") }}
                        </form>
                    </div>
                    {% if userChangeForm.errors %}
                    <div class="alert mt-2 alert-danger">
                    {% for field, errors in userChangeForm.errors.items() %}
                        {{ ', '.join(errors) }}
                    {% endfor %}
                    </div>
                    {% endif %}
                    {% with messages = get_flashed_messages(with_categories=true) %}
                       {% if messages %}
                          {% for category, message in messages %}
                              {% if "username-alert" in category %}
                              <div class="alert mt-2  {{ category }}">{{ message }}</div>
                              {% endif %}
                          {% endfor %}
                       {% endif %}
                    {% endwith %}
                </div>
            </div>
            <div class="w-100 d-none d-md-block"></div>
            <div class="col-md-6 col-lg-6 col-sm-12 mx-auto">
                <div class="card-body bg-dark mt-5">
                    <div class="card-title h5">Change Email</div>
                    <p class="h6"><strong>Your email: {{ current_user.EMAIL }}</strong></p>
                    <div class="col-12">
                        <form method="post">
                            {{ emailForm.csrf_token }}
                            {{ emailForm.newEmail(class="form-control mt-3", id="newEmail", required="required", type="email", placeholder="Insert new email") }}
                            {{ emailForm.submitEmail(class="btn btn-primary mt-3", type="submit") }}
                        </form>
                    </div>
                    {% if emailForm.errors %}
                    <div class="alert mt-2 alert-danger">
                    {% for field, errors in emailForm.errors.items() %}
                        {{ ', '.join(errors) }}
                    {% endfor %}
                    </div>
                    {% endif %}
                    {% with messages = get_flashed_messages(with_categories=true) %}
                       {% if messages %}
                          {% for category, message in messages %}
                              {% if "email-alert" in category %}
                              <div class="alert mt-2  {{ category }}">{{ message }}</div>
                              {% endif %}
                          {% endfor %}
                       {% endif %}
                    {% endwith %}
                </div>
            </div>
        </div>
    </div>


{% endblock %}