{% extends "base.html" %}

{% block content %}
    <div class="container mx-auto text-center text-white">
        <h1 class="mt-3">Welcome to PandaMeet Security Center</h1>
        <h4 class="mt-2">Here you can manage all the security options of your Pandaccount</h4>

        <div class="row mt-3">
            <div class="col-12">
                <div class="card-body bg-dark">
                    <div class="col-6 required">
                        <label class="form-label" for="oldPassword">Insert current password</label>


                    </div>
                </div>
            </div>

        </div>

    </div>
{% endblock %}