{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div class="card bg-dark text-white">
            <img class="card-img-top" src="{{ user.PROFILE_COVER }}" style="width: 100%; height: 300px; object-fit: cover">
            <div class="card-body">
                <div class="row">
                    <div class="col-6">
                        <div class="col-3">
                            <img src="{{ user.PROFILE_PIC }}" class="rounded-circle" style="max-width: 100%; float: left" alt="Profile pic of {{ user.USERNAME }}">
                        </div>
                        <div class="col-9">
                            <strong class="card-title">{{ user.NAME }}{{ " " }}{{ user.FAMILYNAME }}</strong>
                            <br/>
                            <strong class="card-title">{{ "@" }}{{ user.USERNAME }}</strong>
                        </div>
                    </div>
                </div>
                <p class="card-text mt-2">Joined in {{ user.DATE_SIGNUP }}</p>
                <p class="card-text my-2 mr-1">Gender: {{ sex }} Bio: {{ user.BIOGRAFIA }}</p>
                {%  if user.ID_USER == current_user.ID_USER %}
                <a class="btn btn-primary" id="ShowFormProfile" data-bs-toggle="modal" data-bs-target="#modalProfileModify">Modify profile</a>
                {% else %}
                    {% if checkFollower(user) %}
                        <a class="btn btn-primary" id="unfollowProfile" href="{{ url_for('Users.unfollowUser', userToUnfollow=user.USERNAME) }}">Unfollow</a>
                        {% else %}
                        <a class="btn btn-primary" id="followProfile" href="{{ url_for('Users.followUser', userToFollow=user.USERNAME) }}">Follow</a>
                    {% endif %}
                {%  endif %}
            </div>
        </div>
    </div>

    {%  if user.ID_USER == current_user.ID_USER %}
    <div class="modal fade" id="modalProfileModify" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content bg-dark text-white">
          <div class="modal-header">
            <h5 class="modal-title" id="ModalLabel">Change profile info</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form method="post" enctype="multipart/form-data">
                {{ form.csrf_token }}
                <div class="input-group mb-3">
                    <label class="input-group-text" for="cover">Upload cover</label>
                    {{ form.coverPic(class="form-control", id="cover", type="file") }}
                </div>
                <div class="input-group mb-3">
                    <label class="input-group-text" for="profilePic">Upload Profile Picture</label>
                    {{ form.profilePic(class="form-control", id="profilePic", type="file") }}
                </div>
                <label class="form-label" for="name">Change your name</label>
                <div class="input-group mb-3">
                    {{ form.name(class="form-control", id="name", type="text") }}
                </div>
                <label class="form-label" for="familyname">Change your family name</label>
                <div class="input-group mb-3">
                    {{ form.family_name(class="form-control", id="familyname", type="text") }}
                </div>
                <div>
                    <label class="form-label" for="biography">Set your biography</label>
                    {{ form.Biography(class="form-control", id="biography", type="text-area") }}
                </div>
                {{ form.submit(class="btn btn-primary", id="form-submit",type="submit", size="lg", hidden="true") }}
                {%  if form.errors %}
                    <span class="alert alert-danger">{{ form.name.errors|join(', ') }}</span>
                {% endif %}
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" id="modal-confirm" formmethod="post">Confirm</button>
          </div>
        </div>
      </div>
    </div>
    {% endif %}

{% endblock %}
{% block script %}
     <script>
        $('#modal-confirm').click(function(){

        // Perform the action after modal confirm button is clicked.

        $('#form-submit').click() // submitting the form
    });
    </script>
{% endblock %}
